.additional-products__title {
  margin: 0 0 35px;

  @media (min-width: $vp-768) {
    margin: 0 0 80px;
  }
}

.additional-products__wrapper {
  @media (min-width: $vp-1440) {
    display: grid;
    grid-template-columns: auto 245px;
    gap: 82px;
  }
}

.additional-products__list {
  list-style: none;
  margin: 0 0 35px;
  padding: 0;
  display: grid;
  @media (min-width: $vp-768) {
    margin-bottom: 70px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 0;
  }
}
