.address {
  font-family: $ff-secondary;
  color: $color-charcoal;
  font-size: 14px;
  line-height: 20px;
  font-style: $fw-normal;

  @media (min-width: $vp-768) {
    font-size: 16px;
    line-height: 20px;
  }
}

.address__street {
  @media (min-width: $vp-1440) {
    text-align: left;
  }
}

.address__city {
  @media (min-width: $vp-1440) {
    margin-right: auto;
  }
}
