
  .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 20px;
  font-weight: $fw-regular;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-default-white;
  border: none;
  background-color: $color-apple;
  cursor: pointer;
}
