
.container {
  max-width: $vp-1440;
  width: auto;
  margin: 0 auto;

  @media (min-width: $vp-320) {
    padding: 0 20px;
  }

  @media (min-width: $vp-768) {
    padding: 0 30px;
  }

  @media (min-width: $vp-1440) {
    padding: 0 110px;
  }
}
