.experience {
  background-color: $color-whisper;
  @media (min-width: $vp-768) {
    background-color: $color-default-white;
    background-image: linear-gradient(to bottom, transparent 620px, $color-whisper 0%);
  }
  @media (min-width: $vp-1440) {
    background-color: $color-default-white;
    background-image: linear-gradient(to bottom, transparent 140px, $color-white-smoke 0%);
  }
}


.experience__main-wrap {
  @media (min-width: $vp-1440) {
   display: grid;
   grid-template-columns: 436px 560px;
   column-gap: 224px;
  }
}

.experience__section-title {
  padding-top: 25px;
  margin-bottom: 44px;
  text-align: left;
  @media (min-width: $vp-768) {
    padding-top: 45px;
    margin-bottom: 60px;
  }
  @media (min-width: $vp-1440) {
    display: flex;
    grid-row: 1/2;
    grid-column: 1/2;
    padding-top: 0;
    margin-bottom: 146px;
  }

}

.experience__text {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
  @media (min-width: $vp-768) {
  }
  @media (min-width: $vp-1440) {
    display: flex;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 69px;
  }
}

.experience__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 99px;
  }
  @media (min-width: $vp-1440) {
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3/4;
    gap: 55px;
  }
}

.experience__list {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
column-gap: 32px;
justify-content: space-between;
  @media (max-width: $vp-768) {
   margin-bottom: 20px;
  }
  @media (min-width: $vp-768) {
  column-gap: 43px;
  }
  @media (min-width: $vp-1440) {
 justify-content: flex-start;
  }
}

.experience__item {
  display: flex;
  flex-direction: column;
}

.experience__conten-text {
  font-family: $ff-primary;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid $color-very-light-grey;
  border-radius: 3px;
  padding: 15px;
  width: 124px;
  @media (min-width: $vp-768) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.experience__content-desc {
  font-family: $ff-secondary;
  font-size: 12px;
  line-height: 12px;
  color: $color-charcoal;
  text-align: center;
  text-transform: lowercase;
  margin: -10px auto 0;
  padding: 0 8px;
  width: 87px;
  background-color: $color-whisper;
  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-default-white;
    padding: 0;
    &--weight {
     width: 114px;
    }
    &--days {
      width: 142px;
     }
  }
  @media (min-width: $vp-1440) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white-smoke;
    padding: 0;
    &--weight {
     width: 114px;
    }
    &--days {
      width: 142px;
     }
  }
}

.experience__cost {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: $vp-768) {
    margin: 20px;
  }
  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 11px;
    gap: 8px;
  }
  @media (min-width: $vp-1440) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    gap: 63px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }
}

.experience__slider-wrapper {
  @media (max-width: $vp-768) {
    padding-bottom: 40px;
   }

  @media (min-width: $vp-768) {
   display: flex;
   justify-content: center;
   padding-bottom: 101px;
  }
  @media (min-width: $vp-1440) {
    grid-column: 2/3;
    grid-row: 1/8;
    display: grid;
    justify-content: flex-end;
    padding-bottom: 85px;
   }
}
