.experience {
  background-color: $color-whisper;
}

.experience__section-title {
  padding-top: 25px;
  margin-bottom: 40px;
  text-align: left;
}

.experience__text {
  margin: 0;
  padding: 0;
}

.experience__conten-text {
  font-family: $ff-primary;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  @media (min-width: $vp-768) {
    font-size: 30px;
    line-height: 37px;
  }
}

.experience__content-desc {
  font-family: $ff-secondary;
  font-size: 12px;
  line-height: 16px;
  text-transform: lowercase;
  @media (min-width: $vp-768) {
    font-size: 14px;
    line-height: 14px;
  }
}
.experience__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
  }
}
