.experience__text {
  font-family: "Lato", sans-serif;
  color: $basic-dark-color;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $vp-768) {
    margin: 20px;
  }

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-top: 11px;
    gap: 8px;
  }

  @media (min-width: $vp-1440) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    gap: 66px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }
}

.experience__slider-wrapper {
  @media (max-width: $vp-768) {
    padding-bottom: 40px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: center;
    padding-bottom: 101px;
  }

  @media (min-width: $vp-1440) {
    grid-column: 2/3;
    grid-row: 1/8;
    display: grid;
    justify-content: flex-end;
    padding-bottom: 85px;
  }
}
