.footer {
  background-color: $color-white-smoke;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.footer__logo-cat_energy {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.footer__line-decor {
  position: relative;
&::before {
  content:"";
  width: 100%;
  border-bottom: 1px solid $color-light-grey;
  position: absolute;
  top: -20px;
}
&::after {
  content:"";
  width: 100%;
  border-bottom: 1px solid $color-light-grey;
  position: absolute;
  bottom: -20px;
}
}

.footer__copyright-wrapper {
  position: relative;
}

.footer__copyright {
  text-decoration: none;
}

.footer__copyright-text_htmlAcademy {
  font-family: $ff-secondary;
  font-weight: $fw-regular;
  font-size: 16px;
  line-height: 20px;
  color: $color-charcoal;
  position: absolute;
  transform: translateY(50%);
}

.footer__copyright-logo_htmlAcademy {
  position: absolute;
  right: 0;
}
