.hero {
min-height: 480px;
padding-top: 27px;
margin-bottom: 20px;
background-image:
url("../../images/mobile/cat-hero-bg@1x.jpg"),
linear-gradient(to bottom, $color-green-back 302px, transparent 302px);
background-repeat: no-repeat;
background-position: center top;
background-size:320px 302px, 100% 100%;

@media (min-resolution: 2dppx) {
  background-image:
  url("../../images/mobile/cat-hero-bg@2x.jpg"),
  linear-gradient(to bottom, $color-green-back 302px, transparent 302px);
}
@media (min-width: $vp-768) {
  padding-top: 40px;
  background-image: none;
}

@media (min-width: $vp-1300) {
  min-height: 694px;
  margin-bottom: 82px;
  background-image:
  url("../../images/desktop/Cat-bg-pc@1x.jpg"),
  linear-gradient(to right, $color-default-white 50%, $color-green-back 50%);
  background-repeat: no-repeat;
  background-position: left calc(50% + 520px) bottom, bottom;
  background-size: 1040px 693px, 100% 100%;
}
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__title {
  margin-bottom: 25px;
}

.hero__slogan {
  font-family: $ff-primary;
  font-size: 14px;
  line-height: 14px;
  color: $color-default-white;
  text-transform: uppercase;
  margin: 0;
  @media (max-width: $vp-768) {
    margin: auto;
    margin-bottom: 29px;
    }
  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 20px;
    color: $color-default-black;
    }
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.hero__section-title {
  font-size: 36px;
  line-height: 36px;
}


.hero__link {
  font-size: 16px;
  line-height: 20px;
}
