
.main-header {
  position: relative;
  z-index: 1;
  @media (min-width: $vp-1440) {
  &--on-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: $color-default-white;
  }
 }
}

.main-header__container {
  @media (max-width: $vp-768) {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
  align-items: center;
 }
 @media (min-width: $vp-768) {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 4px;
  align-items: center;
 }
}

.main-header__logo {
  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    gap: 13px;
  }
}


.main-header__logo-image {
  display: flex;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}


.main-header__logo-text {
  max-width: initial;
  display: block;
  @media (max-width: $vp-768) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}



.main-header__burger {
 @media (max-width: $vp-768){
    position: relative;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: $color-apple;
    }
  &::before,
  &::after {
    content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: currentColor;
      transform-origin: left;
      transition: box-shadow 0.3s ease 0s,
      transform 0.3s ease 0s,
      left 0.3s ease 0s,
      color 0.3s ease 0s;
  }
  &::before {
    top: 2px;
  }
  &::after {
    top: 10px;
    box-shadow: 0 8px 0 currentColor;
  }
  &--open::before {
    left: 4px;
    transform: rotate(46deg);
  }
  &--open::after {
    left: 4px;
    top: 19px;
    transform: rotate(-45deg) ;
    box-shadow: 0 0 0 transparent;
  }
}
@media (min-width: $vp-768) {
  display: none;
}
}









