.navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media (min-width: $vp-768) {
    flex-flow: row wrap;
  }
  @media (min-width: $vp-1300) {
    background-color: transparent;
  }
}

.navigation__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
  list-style: none;
}

.navigation__list--is-opened  {
  visibility: Visible;
}

.navigation__item{
  display: block;
  width: 100%;

@media (max-width: $vp-768) {
  border-top: solid 1px $color-whisper;
}
}

.navigation__item:last-child {
  @media (max-width: $vp-768) {
    border-bottom: solid 1px $color-whisper;

  }
}

.navigation__link {
  font-family: $ff-primary;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $color-default-white;
  width: 100%;
  margin: 0 auto;
  color: $color-default-black;
  text-decoration: none;
  display: flex;
  padding-top: 22px;
  padding-bottom: 24px;
}




