.newsletter__container {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  @media (min-width: $vp-768) {
    padding: 80px 70px;
  }

  @media (min-width: $vp-1440) {
    padding-bottom: 104px;
    padding-top: 96px;
  }
}

.newsletter__title {
  font-weight: $fw-regular;
  position: relative;
  width: fit-content;
  margin: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }

  &::before {
    width: 100vw;
    height: 2px;
    background-color: $color-apple;
    top: 79%;
    box-shadow: 100vw 0 0 $color-apple;
    right: 0;
    z-index: -1;
  }

  &::after {
    top: 0;
    left: -30px;
    z-index: -1;
    width: calc(100% + 71px);
    height: 100%;
    background-color: $color-default-white;
  }

  @media (max-width: $vp-768) {
    padding-top: 40px;
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $vp-768) {
    margin-bottom: 66px;
    font-size: 32px;
    line-height: 32px;

    &::before {
      top: 45%;
    }

    &::after {
      left: -39px;
      width: calc(100% + 80px);
    }
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 72px;
    font-size: 40px;
    line-height: 40px;
    padding-left: 41px;

    &::after {
      width: calc(100% + 41px);
      left: 0;
    }
  }
}

.newsletter__description {
  text-align: center;
  margin: 0 auto 24px;

  @media (min-width: $vp-768) {
    font-size: 24px;
    line-height: 32px;
    width: 650px;
    padding-right: 23px;
  }

  @media (min-width: $vp-1440) {
    width: fit-content;
    padding-right: 0;
  }
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $vp-768) {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    min-width: 632px;
  }

  @media (min-width: $vp-1440) {
    min-width: 752px;
  }
}

.newsletter__form-email {
  font-family: inherit;
  font-size: 20px;
  line-height: 30px;
  color: $color-nero;
  background-color: $color-default-white;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #e7e7e7;
  padding: 12px;

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 12px;
    border-right: none;
  }

  &:not(:disabled):hover {
    border: 1px solid $color-very-light-grey;
  }

  &:disabled {
    outline: 2px solid #ff8282;
  }
}

.newsletter__form-button {
  padding: 15px 0;
  width: 100%;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $vp-768) {
    padding: 15px 70px;
    width: fit-content;
  }
}
