.program__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 20px;
}

.program__item {
  background-color: $color-white-smoke;
  padding: 30px 33px 18px 20px;
}

.program__section-subtitle {
  font-family: $ff-primary;
  font-size: 24px;
  line-height: 37px;
  color: $color-default-black;
  text-transform: uppercase;
  margin: 0;
  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
    }
}

.program__text {
  padding: 0;
}

.program__link {
  font-family: $ff-primary;
  color: $color-default-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
   }
}



