.program__list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (max-width: $vp-768) {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-top: 20px;
    margin-bottom: 22px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 49px;
    padding-top: 0;
  }

  @media (min-width: $vp-1440) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    padding-top: 82px;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.program__item {
  background-color: $color-white-smoke;

  @media (max-width: $vp-768) {
    padding: 30px 33px 20px 20px;
  }

  @media (min-width: $vp-768) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $vp-1440) {
    padding: 77px 61px 59px 52px;
    display: flex;
    flex-direction: column;
  }
}

.program__item--slim {
  position: relative;

  @media (max-width: $vp-768) {
    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 24px;
      left: 20px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 36px 50px;
      width: 36px;
      height: 50px;
      position: absolute;
      top: 22px;
      left: 30px;
    }
  }

  @media (min-width: $vp-768) {
    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      top: calc(50% + 6px);
      right: 63px;
      transform: translateY(-50%);
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 140px 194px;
      width: 140px;
      height: 194px;
      position: absolute;
      top: calc(46% + 6px);
      transform: translateY(-50%);
      right: 93px;
    }
  }

  @media (min-width: $vp-1440) {
    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      top: 97px;
      left: 52px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: 70px 97px;
      width: 70px;
      height: 97px;
      position: absolute;
      top: 91px;
      left: 67px;
    }
  }
}

.program__item--pro {
  position: relative;

  @media (max-width: $vp-768) {
    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 24px;
      left: 20px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 67px 28px;
      width: 67px;
      height: 28px;
      position: absolute;
      top: 35px;
      left: 12px;
    }
  }

  @media (min-width: $vp-768) {
    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: absolute;
      top: calc(50% + 6px);
      transform: translateY(-50%);
      right: 63px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 268px 112px;
      width: 268px;
      height: 112px;
      position: absolute;
      top: calc(50% - 49px);
      right: 29px;
    }
  }

  @media (min-width: $vp-1440) {
    padding-right: 67px;

    &::before {
      content: "";
      background-color: $color-apple;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      top: 97px;
      left: 52px;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-image: url("../../icons/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 134px 56px;
      width: 134px;
      height: 56px;
      position: absolute;
      top: 67px;
      left: 33px;
    }
  }
}

.program__subtitle {
  display: flex;
  font-family: $ff-primary;
  color: $color-default-black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-768) {
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 37px;
    margin-left: 70px;
    margin-bottom: 32px;
  }

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  @media (min-width: $vp-1440) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 181px;
    margin-bottom: 73px;
  }
}

.program__desc {
  margin: 0;
  padding: 0;
  position: relative;

  @media (max-width: $vp-768) {
    margin-bottom: 40px;

    &::after {
      content: "";
      background-color: $color-light-grey;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: -21px;
      left: 0;
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 48px;
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 23px;
  }
}

.program__link {
  display: flex;
  align-items: center;
  width: fit-content;
  font-family: $ff-primary;
  color: $color-default-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $vp-768) {
    gap: 15px;
    font-size: 16px;
    line-height: 16px;
    margin: 0 1px;
  }

  @media (min-width: $vp-768) {
    gap: 25px;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 35px;
    height: 12px;
    background-image: url("../../icons/arrow-long.svg");
    background-repeat: no-repeat;
    background-position: left -8px center;
    background-size: contain;
  }

  &:hover {
    &::after {
      background-position: left -2 center;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-position: left -2 center;
    }
  }
}
