
.program__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 20px;
  @media (min-width: $vp-768) {
  gap: 30px;
  margin-bottom: 45px;
  }
  @media (min-width: $vp-1300)
  {
    flex-direction: row;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.program__item {
  position: relative;
  background-color: $color-white-smoke;
  padding: 30px 33px 18px 20px;

  @media (min-width: $vp-768) {
    padding: 77px 63px 53px 52px;
    }
    @media (min-width: $vp-1300)
    {
      padding: 47px 61px 55px 52px;
    }
}

.program__section-subtitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: $ff-primary;
  font-size: 24px;
  line-height: 37px;
  color: $color-default-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  &--slim {
   &::before {
    content:"";
    background-color: $color-apple;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
  &::after {
    content:"";
    background-image: url("../../icons/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: 36px 50px;
    width: 36px;
    height: 50px;
    position: absolute;
    top: 27px;
    left: 27px;
  }
}
  &--pro {
    &::before {
      content:"";
      background-color: $color-apple;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
    }
    &::after {
      content:"";
      background-image: url("../../icons/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: 67px 28px;
      width: 67px;
      height: 28px;
      position: absolute;
      top: 40px;
      left: 9px;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 36px;
    line-height: 36px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    &--slim {
      &::before {
       content:"";
       width: 200px;
       height: 200px;
       top: 0;
     }
     &::after {
       content:"";
       background-image: url("../../icons/cat-slim.svg");
       background-size: 36px 50px;
       width: 36px;
       height: 50px;
       top: 27px;
       left: 27px;
     }
   }
     &--pro {
       &::before {
         content:"";
         width: 200px;
         height: 200px;
       }
       &::after {
         content:"";
         background-image: url("../../icons/cat-pro.svg");
         background-repeat: no-repeat;
         background-size: 67px 28px;
         width: 67px;
         height: 28px;
         position: absolute;
         top: 40px;
         left: 9px;
       }
     }
    }

    @media (min-width: $vp-1300) {
      &--slim {
        &::before {
         content:"";
         width: 100px;
         height: 100px;
       }
       &::after {
         content:"";
         background-image: url("../../icons/cat-slim.svg");
         background-repeat: no-repeat;
         background-size: 36px 50px;
         width: 36px;
         height: 50px;
         top: 27px;
         left: 27px;
       }
     }
       &--pro {
         &::before {
           content:"";
           width: 100px;
           height: 100px;
         }
         &::after {
           content:"";
           background-image: url("../../icons/cat-pro.svg");
           background-repeat: no-repeat;
           background-size: 67px 28px;
           width: 67px;
           height: 28px;
           position: absolute;
           top: 40px;
           left: 9px;
         }
       }
    }
}

.program__text {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;
  &--decor-line {
  position: relative;
  @media (max-width: $vp-768) {
    &::before {
      content: "";
      background-color: $color-light-grey;
      width: calc(100% + 13px);
      height: 1px;
      display: block;
      position: absolute;
      bottom: -23px;
    }
  }
 }
}


.program__link {
  font-family: $ff-primary;
  color: $color-default-black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  &::after {
    content:"";
    display: inline-block;
    background-color: $color-default-black;
    width: 24;
    height: 12px;
    transition: all, all, 1.3s;
    mask-image: url("../../icons/arrow-slim&pro.svg");
    mask-size: 24px 12px;
    mask-repeat: no-repeat;
   }
  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;
   }
}



