.works__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 49px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.works__item {
  display: flex;
  flex-direction: row;
  position: relative;
 &::before {

 }
}

