.works__title {
  @media (max-width: $vp-768) {
    margin-bottom: 40px;
    text-align: left;

    & br {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    margin-bottom: 72px;
  }
}

.works__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $vp-768) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 49px;
  }

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 77px 59px;
    margin-bottom: 47px;

    &::after {
      content: "";
      background-color: $color-whisper-2;
      width: calc(100% + 60px);
      height: 1px;
      position: absolute;
      bottom: -47px;
      left: -30px;
    }
  }

  @media (min-width: $vp-1440) {
    margin-bottom: 69px;

    &::after {
      content: none;
    }
  }
}

.works__item {
  position: relative;

  &--decor {
    &::before {
      content: "";
      background-color: $color-apple;
      flex-shrink: 0;
    }

    &::after {
      content: "";
      background-repeat: no-repeat;
      position: absolute;
    }
  }

  &--leaf {
    &::after {
      background-image: url("../../icons/icon_leaf.svg");
    }
  }

  &--powder {
    &::after {
      background-image: url("../../icons/icon_powder.svg");
    }
  }

  &--eat {
    &::after {
      background-image: url("../../icons/icon_eat.svg");
    }
  }

  &--clock {
    &::after {
      background-image: url("../../icons/clock.svg");
    }
  }

  @media (max-width: $vp-768) {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &::before {
      width: 60px;
      height: 60px;
    }
  }

  &::after {
    background-size: 30px 32px;
    width: 30px;
    height: 32px;
    top: 12px;
    left: 16px;
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    counter-increment: card-counter;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      background-size: 30px 32px;
      width: 30px;
      height: 32px;
      top: 27px;
      left: 27px;
    }
  }
}

.works__card {
  @media (min-width: $vp-768) {
    display: flex;
    padding: 31px 0 57px;
    max-width: 250px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -73%;
      z-index: -1;
      font-family: $ff-primary;
      font-size: 280px;
      line-height: 280px;
      color: $color-white-smoke;
    }

    &--one::before {
      content: "1";
      right: 15%;
    }

    &--two::before {
      content: "2";
      right: 2%;
    }

    &--three::before {
      content: "3";
      right: 2%;
    }

    &--four::before {
      content: "4";
      right: 1%;
    }
  }
}

.works__card-text {
  margin: 0;
}
